body {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5% 10%;
}

.gameBoard {
    display: grid;
    height: 70vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 2px; */
    text-align: center;
    border: 4px solid purple;
    /* padding: 4px; */
    /* margin: 5%; */
}

.blankTile {
    color: black;
    font-size: 42px;
    /* vertical-align: middle; */
    /* justify-items: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* align-content: center; */
    height: 100%;
    border: 2px solid violet;
}

.buttonPanel {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

button {
    color: aliceblue;
    background-color: violet;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 30px;
    border: 4px solid purple;
    border-radius: 10px;
}